<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Tailwind Blog Template</title>
        <meta name="author" content="David Grzyb" />
        <meta name="description" content="" />

        <!-- Tailwind -->
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css"
            rel="stylesheet"
        />
        <link rel="stylesheet" href="{{ mix('css/app.css') }}">

        <style>
            @import url("https://fonts.googleapis.com/css?family=Karla:400,700&display=swap");

            .font-family-karla {
                font-family: karla;
            }
        </style>

        <!-- AlpineJS -->
        <script
            src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js"
            defer
        ></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.css" rel="stylesheet" />
        <!-- Font Awesome -->
        <script
            src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"
            integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs="
            crossorigin="anonymous"
        ></script>
    </head>
    <body class="bg-white font-family-karla">
        <!-- 
<div class="w-full ">
    <main class="mx-auto">
        <div class="min-h-[18.75rem] mt-6 overflow-hidden   bg-center bg-cover bg-orange-400"></div>
        <div class="relative flex flex-col flex-auto min-w-0 p-4 mx-6 -mt-16 overflow-hidden break-words border-0 shadow-blur rounded-2xl bg-white/80 bg-clip-border backdrop-blur-2xl backdrop-saturate-200 ">

        </div>
    </main>
</div> -->

<div class="flex flex-wrap mx-20 gap-2 pt-[70px]">
<div class="top-0 left-0 z-40 w-64 h-screen  transition-transform  -translate-x-full  sm:translate-x-0 ">
    <ul class="flex-column space-y space-y-4 text-sm font-medium text-gray-500 dark:text-gray-400 md:me-4 mb-4 md:mb-0" id="default-tab" data-tabs-toggle="#default-tab-content" role="tablist">
        <li class="flex items-center  text-gray-500 rounded-lg hover:bg-gray-100 group" role="presentation">
            <button class="py-2.5 px-6 w-full flex justify-start  text-sm font-medium text-gray-900 outline-none bg-white rounded-lg  hover:bg-gray-100 hover:text-blue-700 focus:z-10" id="profile-tab" data-tabs-target="#profile" type="button" role="tab" aria-controls="profile" aria-selected="false">All</button>
        </li>
        <li class="flex items-center  text-gray-500 rounded-lg hover:bg-gray-100 group" role="presentation">
            <button class="py-2.5 px-6 w-full flex justify-start  text-sm font-medium text-gray-900 outline-none bg-white rounded-lg  hover:bg-gray-100 hover:text-blue-700 focus:z-10" id="dashboard-tab" data-tabs-target="#dashboard" type="button" role="tab" aria-controls="dashboard" aria-selected="false">Posts</button>
        </li>
        <li class="flex items-center  text-gray-500 rounded-lg hover:bg-gray-100 group" role="presentation">
            <button class="py-2.5 px-6 w-full flex justify-start  text-sm font-medium text-gray-900 outline-none bg-white rounded-lg  hover:bg-gray-100 hover:text-blue-700 focus:z-10" id="settings-tab" data-tabs-target="#settings" type="button" role="tab" aria-controls="settings" aria-selected="false">People</button>
        </li>
        <li class="flex items-center  text-gray-500 rounded-lg hover:bg-gray-100 group" role="presentation">
            <button class="py-2.5 px-6 w-full flex justify-start  text-sm font-medium text-gray-900 outline-none bg-white rounded-lg  hover:bg-gray-100 hover:text-blue-700 focus:z-10" id="contacts-tab" data-tabs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false">Tags</button>
        </li>
    </ul>
</div>
<div id="default-tab-content" class="w-full  max-w-[650px]  flex flex-col items-center ">
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="profile" role="tabpanel" aria-labelledby="profile-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Profile tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="dashboard" role="tabpanel" aria-labelledby="dashboard-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Dashboard tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="settings" role="tabpanel" aria-labelledby="settings-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Settings tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
    <div class="hidden p-4 rounded-lg bg-gray-50 dark:bg-gray-800" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        <p class="text-sm text-gray-500 dark:text-gray-400">This is some placeholder content the <strong class="font-medium text-gray-800 dark:text-white">Contacts tab's associated content</strong>. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling.</p>
    </div>
</div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"></script>
<script src="https://cdn.tailwindcss.com"></script>
    </body>
</html>
