body {
    background-image: url(https://phuongnamvina.com/img_data/images/social-marketing-la-gi-cach-lam-social-media-marketing-hieu-qua.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.form {
    width: 100%;
    max-width: 300px;
    padding: 30px 25px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3); /* Đổ bóng được thêm vào đây */
}

h1.login-title {
    color: #666;
    margin: 0px auto 25px;
    font-size: 25px;
    font-weight: 300;
    text-align: center;
}

.login-input {
    font-size: 15px;
    border: 1px solid #ccc;
    padding: 10px;
    margin-bottom: 15px;
    width: 93%;
    border-radius: 3px;
}

.login-input:focus {
    border-color: #6e8095;
    outline: none;
}

.login-button {
    color: #fff;
    background: #55a1ff;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    text-align: center;
    border-radius: 3px;
    cursor: pointer;
}

.login-button:hover {
    background: #357ab9;
}

.link {
    color: #666;
    font-size: 15px;
    text-align: center;
    margin-top: 15px;
}

.link a {
    color: #666;
}

h3 {
    font-weight: normal;
    text-align: center;
    color: #666;
}
